.promo {
  width: 100%;
  height: 396px;
  background-image: url('components/img/promo-mobile.jpg');
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.service {
  width: 100%;
  height: 407px;
  background-image: url('components/img/watch-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
  background-color: #ffffff;
  border-top: 1px solid #CDCDCD;
}
.promo__container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reason__container {
  width: 270px;
  margin: 0 auto;
}

.service__container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.footer-main__container {
  width: 270px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.promo__title {
  width: 260px;
  margin-top: 90px;
  margin-bottom: 15px;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color: #ffffff;
}

.promo__text {
  width: 270px;
  font-size: 14px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
}

.logo {
  float: left;
  margin-top: 42px;

}

.logo img {
  width: 61px;
  height: 61px;
}

.reason {
  margin-bottom: 68px;
  background: #ffffff;
}

.reason__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.reason__title {
  margin: 0;
  margin-top: 37px;
  margin-bottom: 34px;
  text-align: center;
  font-size: 25px;
  line-height: 32px;
  color: #000000;
}

.reason-item {
  width: 270px;
  margin-bottom: 40px;
}

.reason-item__img {
  display: block;
  margin: 0 auto;
}

.reason-item__title {
  margin: 0;
  text-align: center;
  margin-top: 16px;
  margin-bottom: 7px;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.reason-item__text {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0,0,0,0.60);
}
.condition {
  margin-top: 44px;
  text-align: center;
}
.btn-buy {
  box-sizing: border-box;
  margin-top: 25px;
  width: 141px;
  height: 42px;
  background: #FFDD00;
  box-shadow: 0 2px 0 0 #F59300;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  color: #000000;
  cursor: pointer;
  outline: none;
}
.btn-buy:hover {
  background: #ffd700;
}
.btn-buy:active {
  box-shadow: none;
}

.footer-main {
  background: #151515;
}

.footer-main__logo {
  width: 41px;
  height: 41px;
  margin-top: 33px;
  margin-bottom: 33px;
}
.footer-main__text {
  text-align: center;
  margin: 0;
  margin-top: 13px;
  font-size: 14px;
  line-height: 32px;
  color: #FFFFFF;
}
.footer-main__text--opacity {
  margin-top: 0;
  font-size: 14px;
  line-height: 32px;
  color: rgba(255,255,255,0.60);
}

.footer-main__text--opacity a {
  text-decoration: none;
  border-bottom: 1px dashed rgba(255,255,255,0.60);
  color: rgba(255,255,255,0.60);
}
@media (min-width: 768px) {
  .promo {
    background-image: url('components/img/promo.jpg');
  }
  .promo__container {
    width: 560px;
  }
  .reason__container {
    width: 560px;
  }
  .service__container {
    width: 560px;
  }
  .footer-main__container {
    width: 560px;
    align-items: stretch;
    flex-direction: row;
  }
  .promo__title {
    width: 429px;
    margin-top: 45px;
    margin-bottom: 15px;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
    color: #ffffff;
  }

  .promo__text {
    width: 451px;
    font-size: 12px;
    line-height: 16px;
    font-weight: bold;
    color: #ffffff;
  }
  .reason__title {
    text-align: left;
    font-size: 24px;
  }
  .reason-item {
    width: 180px;
    margin-bottom: 0;
  }
  .reason-item:last-child {
    margin-right: 0;
  }
  .reason-item__title {
    text-align: left;
    font-size: 16px;
    line-height: 20px;
  }
  .reason-item__text {
    text-align: left;
    font-size: 12px;
    line-height: 20px;
  }
  .reason-item__img {
    margin: 0;
  }
  .service {
    height: 350px;
    background-image: url('components/img/watch.jpg');
  }
  .condition {
    text-align: left;
  }
  .condition__title {
    margin: 0;
    margin-bottom: 24px;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    color: #000000;
  }
  .condition__price {
    margin: 0;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
  }
  .condition__text {
    margin: 0;
    font-size: 14px;
    line-height: 32px;
    color: rgba(0,0,0,0.60);
  }
  .footer-main__text {
    text-align: left;
  }
}


@media (min-width: 955px) {
  .promo__container {
    width: 860px;
  }
  .reason__container {
    width: 860px;
  }
  .service__container {
    width: 860px;
  }
  .footer-main__container {
    width: 860px;
  }
  .promo__title {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: #ffffff;
  }
  .promo__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: bold;
    color: #ffffff;
  }
  .reason-item {
    width: 248px;
  }
  .reason-item__title {
    font-size: 18px;
    line-height: 24px;
  }
  .reason-item__text {
    font-size: 14px;
    line-height: 22px;
  }
  .service {
    height: 408px;
  }
  .condition {
    float: left;
    width: 385px;
  }
  .condition-item {
    margin-bottom: 10px;
  }
  .condition__title {
    margin: 0;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
  }
  .condition__price {
    margin: 0;
    font-size: 18px;
    line-height: 32px;
    color: #000000;
  }
  .condition__text {
    margin: 0;
    font-size: 14px;
    line-height: 32px;
    color: rgba(0,0,0,0.60);
  }
}
